<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RealTimeFaceAnalytics.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ProjectOxford.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.25.0" newVersion="2.0.25.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RealTimeFaceAnalytics.Core.Properties.Settings>
      <setting name="FaceAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="EmotionAPIKey" serializeAs="String">
        <value>!!!NOT USED!!!</value>
      </setting>
      <setting name="VisionAPIKey" serializeAs="String">
        <value>!!!NOT USED!!!</value>
      </setting>
      <setting name="FaceAPIHost" serializeAs="String">
        <value>https://westeurope.api.cognitive.microsoft.com/face/v1.0</value>
      </setting>
      <setting name="EmotionAPIHost" serializeAs="String">
        <value>https://westus.api.cognitive.microsoft.com/emotion/v1.0</value>
      </setting>
      <setting name="VisionAPIHost" serializeAs="String">
        <value>https://westeurope.api.cognitive.microsoft.com/vision/v1.0</value>
      </setting>
      <setting name="AnalysisInterval" serializeAs="String">
        <value>00:00:03</value>
      </setting>
    </RealTimeFaceAnalytics.Core.Properties.Settings>
  </userSettings>
</configuration>